doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width')
        title flatpickr | カレンダーUI | 便利そうなプラグインまとめ
        link(rel='stylesheet', href='/css/style.css')
    body
        .l-wrapper
            .c-link--back: a(href='../') 戻る

            h1.c-heading--h1 flatpickr
            p
              a(href='https://flatpickr.js.org/', target='_blank') 本家サイト（配布元）
              br
              a(href='http://tr.you84815.space/flatpickr/index.html', target='_blank') 日本語ドキュメント

            h2.c-heading--h2 標準
            input.flatpicker(type='text', data-calender='flatpicker')

            .c-link--back.u-mt20: a(href='../') 戻る

        script(src='/js/app.js')



