doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width')
        title 便利そうなプラグインまとめ
        link(rel='stylesheet', href='/css/style.css')
    body
        .l-wrapper
            h1.c-heading--h1 便利そうなプラグインまとめ
            p しょぼい検索スキルを駆使して、色んなプラグインを調べてみた（ついでに自分のお勉強用）。

            h2.c-heading--h2 スライダー系
            dl
                dt: a(href='./swiper.html') Swiper
                dd
                    |レスポンシブ対応。IE8以上対応。

            h2.c-heading--h2 カレンダーUI（Date picker）
            dl
                dt: a(href='./kalendae.html') Kalendae
                dd
                    |ウルマップで使う予定その1
                dt: a(href='./flatpickr.html') flatpickr
                dd
                    |情報提供は堺さん。ウルマップで使う予定その2。

            h2.c-heading--h2 アニメーション系
            dl
                dt: a(href='./aos.html') AOS
                dd
                    |スクロールアニメーションのプラグイン。
                    br
                    |data属性をつけることで簡単に入れられるので、割とよきかな( ˘ω˘)
                    br
                    |コールナビのSNS用LPで入れた！

            h2.c-heading--h2 モーダル
            p 鋭利調査中。
            //- dl
                dt: a(href='./remodal.html') remodal
                dd
                    |レスポンシブ対応。IE8以上対応。
                dt: a(href='./tinyslider.html') Tiny Slider
                dd
                    |カスタマイズ性に富んでいるらしい。早くいじってみたいのだけどもさ(´・ω・｀)

        script(src='/js/app.js')



