doctype
html
    head
        meta(name='viewport', content='width=device-width')
        title swiper | スライダー | 便利そうなjQueryプラグイン
        link(rel='stylesheet', href='/css/style.css')
    body
        .l-wrapper
            h1.c-heading--h1 swiper
            p レスポンシブ対応。IE8以上で動作。
              br
              a(href='http://idangero.us/swiper/api/', target='_blank') ドキュメント（ここ見たほうが確実）
              br
              |バージョンの関係かもだけど、ググって出てきたサンプルのコードだと動かなかった。。。。

            h2.c-heading--h2 標準

            .containerWrap.u-mt20
                .swiper-container(data-target-slider='default')
                    ul.swiper-wrapper
                        li.swiper-slide: img(src='http://placehold.it/800x200/0000cd?text=1')
                        li.swiper-slide: img(src='http://placehold.it/800x200/008000?text=2')
                        li.swiper-slide: img(src='http://placehold.it/800x200/ffd700?text=3')
                        li.swiper-slide: img(src='http://placehold.it/800x200/9400d3?text=4')
                        li.swiper-slide: img(src='http://placehold.it/800x200/dc143c?text=5')
                    .swiper-pagination
                    .swiper-button-prev
                    .swiper-button-next


            h2.c-heading--h2 ちょっとカスタム
            .containerWrap.u-mt20
                p 縦スライド。高さ固定しないとおかしくなる。。。。
                .swiper-container(data-target-slider='custom01')
                    ul.swiper-wrapper
                        li.swiper-slide: img(src='http://placehold.it/800x200/0000cd?text=1')
                        li.swiper-slide: img(src='http://placehold.it/800x200/008000?text=2')
                        li.swiper-slide: img(src='http://placehold.it/800x200/ffd700?text=3')
                        li.swiper-slide: img(src='http://placehold.it/800x200/9400d3?text=4')
                        li.swiper-slide: img(src='http://placehold.it/800x200/dc143c?text=5')
                    .swiper-pagination
                p.u-mt20 レスポンシブ（ブレイクポイントによる切り替え）
                .swiper-container(data-target-slider='custom02')
                    ul.swiper-wrapper
                        li.swiper-slide: img(src='http://placehold.it/400x200/0000cd?text=1')
                        li.swiper-slide: img(src='http://placehold.it/400x200/008000?text=2')
                        li.swiper-slide: img(src='http://placehold.it/400x200/ffd700?text=3')
                        li.swiper-slide: img(src='http://placehold.it/400x200/9400d3?text=4')
                        li.swiper-slide: img(src='http://placehold.it/400x200/dc143c?text=5')
                    .swiper-pagination
                    .swiper-button-prev
                    .swiper-button-next





        script(type='text/javascript', src='/js/app.js')



